<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Dashboard</title>
    <!-- My CSS -->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css>
  </head>
  <body>
    <a href="/users/dashboard">Logout</a>
    <h1>Terima Kasih <%=username%></h1>
  </body>
</html>
