<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Suwit Jepang</title>

    <!-- CSS Games Suwit Jepang -->
    <link rel="stylesheet" href="./stylech4.css" />
  </head>
  <body>
    <div class="container-1"><%- include("./partial/nav-game.ejs") %></div>
    <!-- Games -->
    <!-- Area Player -->
    <div class="container-2">
      <u1>
        <div class="player" id="player">
          <div class="nama1"><h1>PLAYER</h1></div>
          <button class="batuPlayer"><img src="./assets/Batu.png" height="70px" id="batuPlayer" /></button>
          <button class="kertasPlayer"><img src="./assets/kertas.png" height="100px" id="kertasPlayer" /></button>
          <button class="guntingPlayer"><img src="./assets/gunting.png" height="100px" id="guntingPlayer" /></button>
        </div>
      </u1>
      <!-- Akhir Area Player -->

      <!-- Area VS & Refresh & Hasil -->
      <div class="operator">
        <div class="vs" id="vs"><h1>VS</h1></div>
        <div class="info" id="info"><h1></h1></div>
        <button class="refresh" onClick="window.location.reload()"><img src="./assets/refresh.png" height="40px" /></button>
      </div>
      <!-- Akhir Area VS & Refresh & Hasil -->

      <!-- Area Com -->
      <u1>
        <div class="com">
          <div class="nama2"><h1>COM</h1></div>
          <button class="batuCom" id="batuCom"><img src="./assets/Batu.png" height="70px" /></button>
          <button class="kertasCom" id="kertasCom"><img src="./assets/kertas.png" height="100px" /></button>
          <button class="guntingCom" id="guntingCom"><img src="./assets/gunting.png" height="100px" /></button>
        </div>
      </u1>
      <!-- Akhir Area Player -->

      <!-- Info Permainan -->

      <!--Java Script Suwit Jepang -->
      <script src="./suwit.js"></script>
    </div>
  </body>
</html>
