<!-- Judul Games -->
<div class="navbar">
  <div class="fixed-top">
    <div class="img-nav-1"><img src="./assets/Nav Bar 1.png" alt="<" height="20px" /></div>
    <div class="img-nav-2"><img src="./assets/Nav Bar 2.png" alt="logo" height="60px" /></div>
    <h1 class="navbar-display">ROCK PAPER SCISSOR</h1>
  </div>
</div>

<!-- Akhir Judul -->
